<div class="col-lg-12">
	<div class="jumbotron jumbotron-fluid text-center mt-5">
		<div class="container">
			<h1 class="display-4">{{page_title}}</h1>
			<p class="lead">Solve your doubts, learn and help your fellow developers</p>
			<p><a class="btn btn-primary btn-lg mr-3"  [routerLink]="['/topics']">See topics</a>
			<a class="btn btn-success btn-lg mr-3"  [routerLink]="['/users']">See fellow developers</a>
			<a class="btn btn-warning btn-lg mr-3" [routerLink]="['/panel/create']">Add a new topic</a></p>
		</div>
	</div>
</div>